<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>AppIcon</string>
			<key>CFBundleTypeIconSystemGenerated</key>
			<integer>0</integer>
			<key>CFBundleTypeName</key>
			<string>Wallet Package</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.Davlat.walletpkg</string>
			</array>
			<key>NSDocumentClass</key>
			<string></string>
			<key>UTExportedTypeDeclarations</key>
			<array>
				<dict>
					<key>UTTypeConformsTo</key>
					<array>
						<string>com.Davlat.walletpkg</string>
					</array>
					<key>UTTypeIdentifier</key>
					<string></string>
					<key>UTTypeTagSpecification</key>
					<dict/>
				</dict>
			</array>
		</dict>
		<dict/>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Wallet Export Package</string>
			<key>UTTypeIconFile</key>
			<string>AppIcon</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBackgroundName</key>
				<string>AppIcon</string>
				<key>UTTypeIconBadgeName</key>
				<string>AppIcon</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>com.Davlat.walletpkg</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>walletpkg</string>
				</array>
			</dict>
		</dict>
		<dict/>
	</array>
</dict>
</plist>
